---
import { openDb, type Stop } from "gtfs";
import Layout from "../../layouts/Layout.astro";
import { GTFSconfig } from "../../integrations/import-gtfs";
import DataInjector from "../../components/DataInjector.astro";
import getStopWithRoutes from "../../lib/getStopWithRoutes";

export const prerender = true;

export async function getStaticPaths() {
  const db = openDb(GTFSconfig);
  // TODO: this will currently build all pages. Consider building only pages for pilot.
  const allStops = (await db
    .prepare("SELECT DISTINCT stop_id FROM stops")
    .all()) as { stop_id: string }[];

  return allStops.map((stop: { stop_id: string }) => ({
    params: { stopId: stop.stop_id },
  }));
}

const { stopId } = Astro.params;

const stop = await getStopWithRoutes(stopId);
---

<DataInjector data={stop} id="data-stop" />
<script>
  import type { Predictions } from "../api/stop-predictions/[stopId]";
  import type { StopWithRoutes } from "../../lib/getStopWithRoutes";
  import { getData } from "../../lib/getData";

  const stop = getData("data-stop") as StopWithRoutes;

  const getPredictions = async function (stopId: string) {
    const res = await fetch(`/api/stop-predictions/${stopId}`);
    if (!res.ok) {
      return console.error(await res.text());
    }
    const data = (await res.json()) as Predictions;
    console.log(data);
    const el = document.getElementById("predictions");
    console.log(el);
    el?.setHTMLUnsafe(JSON.stringify(data));
  };

  getPredictions(stop.stopId);
  setInterval(getPredictions.bind(this, stop.stopId), 10000);
</script>

<Layout>
  <h1>{stop.stopName}</h1>
  <code>
    {JSON.stringify(stop)}
  </code>
  <h2>Routes</h2>
  <ul>
    {stop.routeShortNames.map((route) => <li>{route}</li>)}
  </ul>
  <h2>Predictions</h2>
  <code id="predictions"></code>
</Layout>
