---
import { openDb, type Stop } from "gtfs";
import Layout from "../../layouts/Layout.astro";
import { GTFSconfig } from "../../integrations/import-gtfs";
import DataInjector from "../../components/DataInjector.astro";
import getStopWithRoutes from "../../lib/getStopWithRoutes";
import StopTabs from "../../components/StopTabs";
import Column from "../../components/Column";
import ContactBlock from "../../components/ContactBlock";
import PageHeader from "../../components/PageHeader";

export const prerender = true;

export async function getStaticPaths() {
  const db = openDb(GTFSconfig);
  // Build pages for:
  //   1. Stops that have scheduled arrivals (stop_times) and are NOT a child stop (no parent_station).
  //   2. Stops that ARE a parent_station for at least one child stop that has scheduled arrivals.
  // Do NOT build pages for child stops (those that have a parent_station value),
  // or for parent stations whose children have no stop_times yet (not yet in service).
  const allStops = (await db
    .prepare(
      `
      SELECT DISTINCT st.stop_id
      FROM stop_times st
      JOIN stops s ON s.stop_id = st.stop_id
      WHERE (s.parent_station IS NULL OR s.parent_station = '')

      UNION

      SELECT DISTINCT s.parent_station AS stop_id
      FROM stops s
      INNER JOIN stop_times st ON st.stop_id = s.stop_id
      WHERE s.parent_station IS NOT NULL AND s.parent_station != ''
      `,
    )
    .all()) as { stop_id: string }[];

  return allStops.map((stop) => ({
    params: { stopId: stop.stop_id },
  }));
}

const { stopId } = Astro.params;

const stop = await getStopWithRoutes(stopId);
const allStopIds = [stop.stopId, ...stop.childStopIds];
---

<DataInjector data={stop} id="data-stop" />
<DataInjector data={allStopIds} id="all-stop-ids" />
<script>
  import { getData } from "../../lib/getData";
  import type { StopWithRoutes } from "../../lib/getStopWithRoutes";
  import watchAlerts from "../../lib/watchAlerts";
  import watchPredictions from "../../lib/watchPredictions";

  const stop = getData("data-stop") as StopWithRoutes;
  const allStopIds = getData("all-stop-ids") as string[];

  console.log("Pre-build GTFS data:", stop);

  watchAlerts([
    {
      // the API automatically checks for alerts at child stop Ids
      stopIds: [stop.stopId],
      routeIds: stop.routes.map((route) => route.routeId),
      agency: stop.swiftlyAgencyId,
    },
  ]);
  watchPredictions(allStopIds, stop.swiftlyAgencyId);
</script>

<Layout title={stop.stopName}>
  <main>
    <PageHeader routes={stop.routes} title={stop.stopName} />
    <section>
      <StopTabs routes={stop.routes} stopId={stop.stopId} client:load />
    </section>
  </main>
</Layout>
