---
import { openDb, type Stop } from "gtfs";
import Layout from "../../layouts/Layout.astro";
import { GTFSconfig } from "../../integrations/import-gtfs";
import DataInjector from "../../components/DataInjector.astro";
import getStopWithRoutes from "../../lib/getStopWithRoutes";
import StopRoutePrediction from "../../components/StopRoutePrediction";

export const prerender = true;

export async function getStaticPaths() {
  const db = openDb(GTFSconfig);
  // TODO: this will currently build all pages. Consider building only pages for pilot.
  const allStops = (await db
    .prepare("SELECT DISTINCT stop_id FROM stops")
    .all()) as { stop_id: string }[];

  return allStops.map((stop) => ({
    params: { stopId: stop.stop_id },
  }));
}

const { stopId } = Astro.params;

const stop = await getStopWithRoutes(stopId);
---

<DataInjector data={stop} id="data-stop" />
<script>
  import { getData } from "../../lib/getData";
  import { routePredictions } from "../../lib/routePredictionsStore";
  import type { StopWithRoutes } from "../../lib/getStopWithRoutes";
  import type { RoutePredictions } from "../api/predictions";
  import type { ConciseAlert } from "../api/alerts";

  const stop = getData("data-stop") as StopWithRoutes;

  // Initialize the store based on the static data
  routePredictions.set(
    stop.routes.map((route) => ({
      destinations: [],
      routeId: route.routeId,
      routeShortName: route.routeShortName,
      stopId: stop.stopId,
      stopName: stop.stopName,
      routeName: route.routeShortName,
      stopCode: Number(stop.stopId),
    })),
  );

  const getPredictions = async function (stopId: string) {
    const res = await fetch(`/api/predictions?stopId=${stopId}`);
    if (!res.ok) {
      return console.error(await res.text());
    }
    const data = (await res.json()) as RoutePredictions[];
    routePredictions.set(data);
    const el = document.getElementById("predictions");
    el?.setHTMLUnsafe(JSON.stringify(data, null, 2));
  };

  const getAlerts = async function (stopId: string, routeIds: string[]) {
    const res = await fetch(
      `/api/alerts?stopId=${stopId}&routeId=${routeIds.join(",")}`,
    );
    if (!res.ok) {
      return console.error(await res.text());
    }
    const data = (await res.json()) as ConciseAlert[];
    const el = document.getElementById("alerts");
    el?.setHTMLUnsafe(JSON.stringify(data, null, 2));
  };

  getPredictions(stop.stopId);
  getAlerts(
    stop.stopId,
    stop.routes.map((route) => route.routeId),
  );
  setInterval(getPredictions.bind(this, stop.stopId), 10000);
</script>

<Layout>
  <h1>{stop.stopName}</h1>
  <h2>Routes</h2>
  <ul>
    {
      stop.routes.map((route) => (
        <StopRoutePrediction
          client:load
          routeId={route.routeId}
          directionId={route.directionId}
        />
      ))
    }
  </ul>
  <h2>Predictions</h2>
  <pre>
    <code id="predictions" />
  </pre>
  <h2>Alerts</h2>
  <pre>
    <code id="alerts" />
  </pre>
  <h2>Pre-built data from static GTFS</h2>
  <code>
    {JSON.stringify(stop, null, 2)}
  </code>
</Layout>
