---
import { openDb, type Stop } from "gtfs";
import Layout from "../../layouts/Layout.astro";
import { GTFSconfig } from "../../integrations/import-gtfs";
import DataInjector from "../../components/DataInjector.astro";
import getStopWithRoutes from "../../lib/getStopWithRoutes";
import StopRoutePrediction from "../../components/StopRoutePrediction";
import AlertList from "../../components/AlertList";
import BusIcon from "../../components/BusIcon";
import Column from "../../components/Column";
import BusPill from "../../components/BusPill";
import ContactBlock from "../../components/ContactBlock";

export const prerender = true;

export async function getStaticPaths() {
  const db = openDb(GTFSconfig);
  // TODO: this will currently build all pages. Consider building only pages for pilot.
  const allStops = (await db
    .prepare("SELECT DISTINCT stop_id FROM stops")
    .all()) as { stop_id: string }[];

  return allStops.map((stop) => ({
    params: { stopId: stop.stop_id },
  }));
}

const { stopId } = Astro.params;

const stop = await getStopWithRoutes(stopId);
---

<DataInjector data={stop} id="data-stop" />
<script>
  import { getData } from "../../lib/getData";
  import type { StopWithRoutes } from "../../lib/getStopWithRoutes";
  import watchAlerts from "../../lib/watchAlerts";
  import watchPredictions from "../../lib/watchPredictions";

  const stop = getData("data-stop") as StopWithRoutes;

  console.log("Pre-build GTFS data:", stop);
  watchAlerts(
    [stop.stopId],
    stop.routes.map((route) => route.routeId),
  );
  watchPredictions(stop.stopId);
</script>

<Layout title={stop.stopName}>
  <Column>
    <div class="mt-6 mb-4 flex items-center">
      <BusIcon className="text-metro-text mr-4 h-8 shrink-0" />
      <ul>
        {
          stop.routes.map((route) => (
            <li class="my-0.5 mr-1.5 inline-block">
              <BusPill name={route.routeShortName} />
            </li>
          ))
        }
      </ul>
    </div>
  </Column>
  <main>
    <section>
      <Column>
        <h1 class="text-4xl font-bold">{stop.stopName}</h1>
        <small>STOP ID: <b>{stop.stopId}</b></small>
        <AlertList stopIds={[stop.stopId]} alertEntityType="Stop" client:load />
      </Column>
      <div class="mt-6 bg-gray-200 py-6">
        <Column>
          {
            stop.routes.map((route) => (
              <StopRoutePrediction route={route} client:load />
            ))
          }
        </Column>
      </div>
    </section>
    <section>
      <ContactBlock
        headline="Need to plan an alternate bus route?"
        body="Get help with fares, schedules, and arrival times, service alerts, and transit connections by calling <b>NUMBER</b>"
        buttonCopy="Call for Trip Help"
        buttonHref="tel:555555555555"
        buttonIcon="phone"
      />
      <ContactBlock
        headline="Does something need attention at the stop?"
        body="Report issues with bus stop maintenance, service problems, hazards, unsafe conditions and other concerns."
        buttonCopy="Report an Issue"
        buttonHref={`https://tw.metro.net/?app=metro-stop-page&type=stoplocation&id=${stopId}`}
        buttonIcon="arrow"
      />
      <ContactBlock
        headline="Need to get in touch?"
        body="You can email Metro with any feedback or general questions at <b>CustomerRelations@metro.net</b>."
        buttonCopy="Email Customer Relations"
        buttonHref="mailto:CustomerRelations@metro.net"
        buttonIcon="email"
        bgClassName="bg-background-gray"
        buttonClassName="border border-metro-text text-metro-text bg-background-gray"
      />
    </section>
  </main>
</Layout>
