---
import Layout from "../layouts/Layout.astro";
import { openDb, getTrips, getStoptimes, getStops } from "gtfs";
import { GTFSconfig } from "../integrations/import-gtfs";
import LiveVehicleIndicator from "../components/LiveVehicleIndicator";

export const prerender = true;

// TODO: get this from the URL once this is generalized
const route_id = "801";

// For now we're using the `gtfs` library to query the SQLite database; see below for an example querying directly

// TODO: this is a pretty inefficient way to do this, though it doesn't *really* matter since it runs at build time.

// Get all a-line trips
const trips = getTrips({
  route_id: route_id,
  // TODO: hardcoded to current weekday schedule
  service_id: "RJUN25-801-1_Weekday-68",
  direction_id: 0,
});

const schedule = trips.map((trip) => {
  // get stop times for each trip
  const stoptimes = getStoptimes(
    {
      trip_id: trip.trip_id,
    },
    [],
    [["stop_sequence", "ASC"]],
  );
  const stopstimesWithNames = stoptimes.map((stoptime) => {
    // get stop details for each stop
    const stop = getStops({ stop_id: stoptime.stop_id });
    return {
      ...stoptime,
      stop: stop[0],
    };
  });
  return stopstimesWithNames;
});

// TODO: this is hard coded to sorting stops by using a stop that every tip hits
// this needs to be generalized to any configuration of stops along a route
const sortedSchedule = schedule.sort((a, b) => {
  const aTime = a.find((s) => s.stop_id === "80112")?.arrival_timestamp ?? 0;
  const bTime = b.find((s) => s.stop_id === "80112")?.arrival_timestamp ?? 0;
  return aTime - bTime;
});

// TODO: For now, we're assuming that the longest trip contains all of the stops in order
// This does not necessarily hold in all cases and needs to be fixed.
const longestRouteIndex = schedule.reduce(
  (p, c, i, a) => (a[p].length > c.length ? p : i),
  0,
);
const allStops = schedule[longestRouteIndex]
  .sort((a, b) => {
    // Handle null arrival_timestamp values
    const aTime = a.arrival_timestamp || 0;
    const bTime = b.arrival_timestamp || 0;
    return aTime - bTime;
  })
  .map((stoptime) => stoptime.stop);

// Alternative approach: query DB directly (keeping here for prototype exploration)
// const db = openDb(GTFSconfig);
// const query = `
//     SELECT
//         stop_times.arrival_time as arrival_time,
//         stop_times.arrival_timestamp as arrival_timestamp,
//         stop_times.trip_id as trip_id,
//         stop_times.stop_id as stop_id,
//         trips.route_id as route_id,
//         stops.stop_name as stop_name,
//         stop_times.stop_sequence as stop_sequence
//     FROM stop_times
//     LEFT JOIN trips ON stop_times.trip_id = trips.trip_id
//     LEFT JOIN stops ON stops.stop_id = stop_times.stop_id
//     WHERE
//         trips.route_id = 801
//         AND trips.service_id = 'RJUN25-801-1_Weekday-94'
//         AND trips.direction_id = 0
//     ORDER BY stop_times.stop_sequence, trips.route_id;
//         `;

// const results = (await db.prepare(query).all()) as QueryResult[];
// console.log({ results });
// const schedule: ScheduleItem[] = results.map((row: QueryResult) => ({
//   stop_name: row.stop_name,
//   stop_id: row.stop_id,
//   stop_sequence: row.stop_sequence,
//   arrival_times: row.arrival_time.split(","),
// }));
---

<script>
  import { liveVehicles, type LiveVehicleType } from "../lib/liveVehicleStore";
  const getLiveVehicles = async function (route_id: string) {
    const res = await fetch(
      `/api/vehicle-positions/${route_id}.json?direction_id=0`,
    );
    if (!res.ok) {
      return console.error(res.body);
    }
    const data = (await res.json()) as LiveVehicleType[];
    liveVehicles.set(data);
  };
  // TODO: hard coded rn
  getLiveVehicles("801");
  setInterval(getLiveVehicles.bind(this, "801"), 10000);
</script>

<Layout>
  <table>
    <thead>
      <tr>
        {
          allStops.map((stop) => (
            <th scope="col">
              {stop.stop_name}, {stop.stop_id}
            </th>
          ))
        }
      </tr>
    </thead>
    <tbody>
      {
        sortedSchedule.map((trip) => (
          <tr>
            {allStops.map((mainStop) => {
              const stop = trip.find((s) => s.stop_id === mainStop.stop_id);
              return stop && stop.stop_id && stop.trip_id ? (
                <td>
                  {stop.arrival_time}{" "}
                  <LiveVehicleIndicator
                    stop_id={stop.stop_id}
                    trip_id={stop.trip_id}
                    client:only="preact"
                  />{" "}
                </td>
              ) : (
                <td> -- </td>
              );
            })}
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
